ProductBacklog/WpfDesktopClient/Service References/BacklogApi/Backlog1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/Backlog?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfApi.DataAccessLayer" />
  <xs:import schemaLocation="http://localhost:8080/Backlog?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WcfApi.UserLogins" />
  <xs:import schemaLocation="http://localhost:8080/Backlog?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:8080/Backlog?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/WcfApi.AccessRights" />
  <xs:import schemaLocation="http://localhost:8080/Backlog?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/WcfApi.Customers" />
  <xs:element name="GetAllGenders">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllGendersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfApi.DataAccessLayer" minOccurs="0" name="GetAllGendersResult" nillable="true" type="q1:ArrayOfGender" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGender">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGenderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfApi.DataAccessLayer" minOccurs="0" name="GetGenderResult" nillable="true" type="q2:Gender" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfApi.DataAccessLayer" minOccurs="0" name="user" nillable="true" type="q3:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WcfApi.DataAccessLayer" minOccurs="0" name="AddUserResult" nillable="true" type="q4:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WcfApi.DataAccessLayer" minOccurs="0" name="user" nillable="true" type="q5:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WcfApi.DataAccessLayer" minOccurs="0" name="UpdateUserResult" nillable="true" type="q6:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WcfApi.DataAccessLayer" minOccurs="0" name="removedUser" nillable="true" type="q7:RemovedUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WcfApi.DataAccessLayer" minOccurs="0" name="RemoveUserResult" nillable="true" type="q8:RemovedUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUsers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/WcfApi.DataAccessLayer" minOccurs="0" name="GetAllUsersResult" nillable="true" type="q9:ArrayOfUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllActiveUsers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllActiveUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/WcfApi.DataAccessLayer" minOccurs="0" name="GetAllActiveUsersResult" nillable="true" type="q10:ArrayOfUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRemovedUsers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRemovedUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/WcfApi.DataAccessLayer" minOccurs="0" name="GetAllRemovedUsersResult" nillable="true" type="q11:ArrayOfRemovedUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindUserLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindUserLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/WcfApi.UserLogins" minOccurs="0" name="FindUserLoginResult" nillable="true" type="q12:UserLogin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUserLogins">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUserLoginsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/WcfApi.UserLogins" minOccurs="0" name="GetAllUserLoginsResult" nillable="true" type="q13:ArrayOfUserLogin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRemovedUserLogins">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRemovedUserLoginsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/WcfApi.UserLogins" minOccurs="0" name="GetAllRemovedUserLoginsResult" nillable="true" type="q14:ArrayOfRemovedUserLogin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllActiveUserLogins">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllActiveUserLoginsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/WcfApi.UserLogins" minOccurs="0" name="GetAllActiveUserLoginsResult" nillable="true" type="q15:ArrayOfUserLogin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserLogins">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userId" type="q16:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserLoginsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/WcfApi.UserLogins" minOccurs="0" name="GetUserLoginsResult" nillable="true" type="q17:ArrayOfUserLogin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRemovedUserLogins">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userId" type="q18:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRemovedUserLoginsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/WcfApi.UserLogins" minOccurs="0" name="GetRemovedUserLoginsResult" nillable="true" type="q19:ArrayOfRemovedUserLogin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActiveUserLogins">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userId" type="q20:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActiveUserLoginsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/WcfApi.UserLogins" minOccurs="0" name="GetActiveUserLoginsResult" nillable="true" type="q21:ArrayOfUserLogin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUserLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/WcfApi.UserLogins" minOccurs="0" name="userLogin" nillable="true" type="q22:UserLogin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUserLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/WcfApi.UserLogins" minOccurs="0" name="AddUserLoginResult" nillable="true" type="q23:UserLogin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/WcfApi.UserLogins" minOccurs="0" name="userLogin" nillable="true" type="q24:UserLogin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/WcfApi.UserLogins" minOccurs="0" name="UpdateUserLoginResult" nillable="true" type="q25:UserLogin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveUserLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/WcfApi.UserLogins" minOccurs="0" name="removedUserLogin" nillable="true" type="q26:RemovedUserLogin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveUserLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/WcfApi.UserLogins" minOccurs="0" name="RemoveUserLoginResult" nillable="true" type="q27:RemovedUserLogin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAccessRights">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAccessRightsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/WcfApi.AccessRights" minOccurs="0" name="GetAllAccessRightsResult" nillable="true" type="q28:ArrayOfAccessRight" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRemovedAccessRights">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRemovedAccessRightsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/WcfApi.AccessRights" minOccurs="0" name="GetAllRemovedAccessRightsResult" nillable="true" type="q29:ArrayOfRemovedAccessRight" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllActiveAccessRights">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllActiveAccessRightsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/WcfApi.AccessRights" minOccurs="0" name="GetAllActiveAccessRightsResult" nillable="true" type="q30:ArrayOfAccessRight" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAccessRight">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/WcfApi.AccessRights" minOccurs="0" name="accessRight" nillable="true" type="q31:AccessRight" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAccessRightResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/WcfApi.AccessRights" minOccurs="0" name="AddAccessRightResult" nillable="true" type="q32:AccessRight" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAccessRight">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/WcfApi.AccessRights" minOccurs="0" name="accessRight" nillable="true" type="q33:AccessRight" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAccessRightResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/WcfApi.AccessRights" minOccurs="0" name="UpdateAccessRightResult" nillable="true" type="q34:AccessRight" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveAccessRight">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/WcfApi.AccessRights" minOccurs="0" name="removedAccessRight" nillable="true" type="q35:RemovedAccessRight" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveAccessRightResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/WcfApi.AccessRights" minOccurs="0" name="RemoveAccessRightResult" nillable="true" type="q36:RemovedAccessRight" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUserAccessRights">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUserAccessRightsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/WcfApi.AccessRights" minOccurs="0" name="GetAllUserAccessRightsResult" nillable="true" type="q37:ArrayOfUserAccessRight" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRemovedUserAccessRights">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRemovedUserAccessRightsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/WcfApi.AccessRights" minOccurs="0" name="GetAllRemovedUserAccessRightsResult" nillable="true" type="q38:ArrayOfRemovedUserAccessRight" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllActiveUserAccessRights">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllActiveUserAccessRightsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/WcfApi.AccessRights" minOccurs="0" name="GetAllActiveUserAccessRightsResult" nillable="true" type="q39:ArrayOfUserAccessRight" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserAccessRights">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userId" type="q40:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserAccessRightsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/WcfApi.AccessRights" minOccurs="0" name="GetUserAccessRightsResult" nillable="true" type="q41:ArrayOfUserAccessRight" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRemovedUserAccessRights">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userId" type="q42:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRemovedUserAccessRightsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/WcfApi.AccessRights" minOccurs="0" name="GetRemovedUserAccessRightsResult" nillable="true" type="q43:ArrayOfRemovedUserAccessRight" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActiveUserAccessRights">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="userId" type="q44:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActiveUserAccessRightsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/WcfApi.AccessRights" minOccurs="0" name="GetActiveUserAccessRightsResult" nillable="true" type="q45:ArrayOfUserAccessRight" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUserAccessRight">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/WcfApi.AccessRights" minOccurs="0" name="userAccessRight" nillable="true" type="q46:UserAccessRight" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUserAccessRightResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/WcfApi.AccessRights" minOccurs="0" name="AddUserAccessRightResult" nillable="true" type="q47:UserAccessRight" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserAccessRight">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/WcfApi.AccessRights" minOccurs="0" name="userAccessRight" nillable="true" type="q48:UserAccessRight" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserAccessRightResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/WcfApi.AccessRights" minOccurs="0" name="UpdateUserAccessRightResult" nillable="true" type="q49:UserAccessRight" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveUserAccessRight">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/WcfApi.AccessRights" minOccurs="0" name="removedUserAccessRight" nillable="true" type="q50:RemovedUserAccessRight" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveUserAccessRightResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/WcfApi.AccessRights" minOccurs="0" name="RemoveUserAccessRightResult" nillable="true" type="q51:RemovedUserAccessRight" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/WcfApi.Customers" minOccurs="0" name="customer" nillable="true" type="q52:Customer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/WcfApi.Customers" minOccurs="0" name="AddCustomerResult" nillable="true" type="q53:Customer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/WcfApi.Customers" minOccurs="0" name="customer" nillable="true" type="q54:Customer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/WcfApi.Customers" minOccurs="0" name="UpdateCustomerResult" nillable="true" type="q55:Customer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/WcfApi.Customers" minOccurs="0" name="removedCustomer" nillable="true" type="q56:RemovedCustomer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/WcfApi.Customers" minOccurs="0" name="RemoveCustomerResult" nillable="true" type="q57:RemovedCustomer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCustomers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCustomersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/WcfApi.Customers" minOccurs="0" name="GetAllCustomersResult" nillable="true" type="q58:ArrayOfCustomer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllActiveCustomers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllActiveCustomersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/WcfApi.Customers" minOccurs="0" name="GetAllActiveCustomersResult" nillable="true" type="q59:ArrayOfCustomer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRemovedCustomers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRemovedCustomersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/WcfApi.Customers" minOccurs="0" name="GetAllRemovedCustomersResult" nillable="true" type="q60:ArrayOfRemovedCustomer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>