ProductBacklog/WpfDesktopClient/Service References/BacklogApi/BacklogAPI.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BacklogAPI" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/Backlog?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/Backlog?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8080/Backlog?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfApi.DataAccessLayer" />
      <xsd:import schemaLocation="http://localhost:8080/Backlog?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WcfApi.UserLogins" />
      <xsd:import schemaLocation="http://localhost:8080/Backlog?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/WcfApi.AccessRights" />
      <xsd:import schemaLocation="http://localhost:8080/Backlog?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/WcfApi.Customers" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBackLogAPI_GetAllGenders_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllGenders" />
  </wsdl:message>
  <wsdl:message name="IBackLogAPI_GetAllGenders_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllGendersResponse" />
  </wsdl:message>
  <wsdl:message name="IBackLogAPI_GetGender_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGender" />
  </wsdl:message>
  <wsdl:message name="IBackLogAPI_GetGender_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGenderResponse" />
  </wsdl:message>
  <wsdl:message name="IBackLogAPI_AddUser_InputMessage">
    <wsdl:part name="parameters" element="tns:AddUser" />
  </wsdl:message>
  <wsdl:message name="IBackLogAPI_AddUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddUserResponse" />
  </wsdl:message>
  <wsdl:message name="IBackLogAPI_UpdateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUser" />
  </wsdl:message>
  <wsdl:message name="IBackLogAPI_UpdateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserResponse" />
  </wsdl:message>
  <wsdl:message name="IBackLogAPI_RemoveUser_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveUser" />
  </wsdl:message>
  <wsdl:message name="IBackLogAPI_RemoveUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveUserResponse" />
  </wsdl:message>
  <wsdl:message name="IBackLogAPI_GetAllUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsers" />
  </wsdl:message>
  <wsdl:message name="IBackLogAPI_GetAllUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IBackLogAPI_GetAllActiveUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllActiveUsers" />
  </wsdl:message>
  <wsdl:message name="IBackLogAPI_GetAllActiveUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllActiveUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IBackLogAPI_GetAllRemovedUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllRemovedUsers" />
  </wsdl:message>
  <wsdl:message name="IBackLogAPI_GetAllRemovedUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllRemovedUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IBackLogAPI_FindUserLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:FindUserLogin" />
  </wsdl:message>
  <wsdl:message name="IBackLogAPI_FindUserLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindUserLoginResponse" />
  </wsdl:message>
  <wsdl:message name="IBackLogAPI_GetAllUserLogins_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUserLogins" />
  </wsdl:message>
  <wsdl:message name="IBackLogAPI_GetAllUserLogins_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUserLoginsResponse" />
  </wsdl:message>
  <wsdl:message name="IBackLogAPI_GetAllRemovedUserLogins_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllRemovedUserLogins" />
  </wsdl:message>
  <wsdl:message name="IBackLogAPI_GetAllRemovedUserLogins_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllRemovedUserLoginsResponse" />
  </wsdl:message>
  <wsdl:message name="IBackLogAPI_GetAllActiveUserLogins_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllActiveUserLogins" />
  </wsdl:message>
  <wsdl:message name="IBackLogAPI_GetAllActiveUserLogins_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllActiveUserLoginsResponse" />
  </wsdl:message>
  <wsdl:message name="IBackLogAPI_GetUserLogins_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserLogins" />
  </wsdl:message>
  <wsdl:message name="IBackLogAPI_GetUserLogins_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserLoginsResponse" />
  </wsdl:message>
  <wsdl:message name="IBackLogAPI_GetRemovedUserLogins_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRemovedUserLogins" />
  </wsdl:message>
  <wsdl:message name="IBackLogAPI_GetRemovedUserLogins_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRemovedUserLoginsResponse" />
  </wsdl:message>
  <wsdl:message name="IBackLogAPI_GetActiveUserLogins_InputMessage">
    <wsdl:part name="parameters" element="tns:GetActiveUserLogins" />
  </wsdl:message>
  <wsdl:message name="IBackLogAPI_GetActiveUserLogins_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetActiveUserLoginsResponse" />
  </wsdl:message>
  <wsdl:message name="IBackLogAPI_AddUserLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:AddUserLogin" />
  </wsdl:message>
  <wsdl:message name="IBackLogAPI_AddUserLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddUserLoginResponse" />
  </wsdl:message>
  <wsdl:message name="IBackLogAPI_UpdateUserLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserLogin" />
  </wsdl:message>
  <wsdl:message name="IBackLogAPI_UpdateUserLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserLoginResponse" />
  </wsdl:message>
  <wsdl:message name="IBackLogAPI_RemoveUserLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveUserLogin" />
  </wsdl:message>
  <wsdl:message name="IBackLogAPI_RemoveUserLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveUserLoginResponse" />
  </wsdl:message>
  <wsdl:message name="IBackLogAPI_GetAllAccessRights_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllAccessRights" />
  </wsdl:message>
  <wsdl:message name="IBackLogAPI_GetAllAccessRights_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllAccessRightsResponse" />
  </wsdl:message>
  <wsdl:message name="IBackLogAPI_GetAllRemovedAccessRights_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllRemovedAccessRights" />
  </wsdl:message>
  <wsdl:message name="IBackLogAPI_GetAllRemovedAccessRights_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllRemovedAccessRightsResponse" />
  </wsdl:message>
  <wsdl:message name="IBackLogAPI_GetAllActiveAccessRights_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllActiveAccessRights" />
  </wsdl:message>
  <wsdl:message name="IBackLogAPI_GetAllActiveAccessRights_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllActiveAccessRightsResponse" />
  </wsdl:message>
  <wsdl:message name="IBackLogAPI_AddAccessRight_InputMessage">
    <wsdl:part name="parameters" element="tns:AddAccessRight" />
  </wsdl:message>
  <wsdl:message name="IBackLogAPI_AddAccessRight_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddAccessRightResponse" />
  </wsdl:message>
  <wsdl:message name="IBackLogAPI_UpdateAccessRight_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAccessRight" />
  </wsdl:message>
  <wsdl:message name="IBackLogAPI_UpdateAccessRight_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAccessRightResponse" />
  </wsdl:message>
  <wsdl:message name="IBackLogAPI_RemoveAccessRight_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveAccessRight" />
  </wsdl:message>
  <wsdl:message name="IBackLogAPI_RemoveAccessRight_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveAccessRightResponse" />
  </wsdl:message>
  <wsdl:message name="IBackLogAPI_GetAllUserAccessRights_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUserAccessRights" />
  </wsdl:message>
  <wsdl:message name="IBackLogAPI_GetAllUserAccessRights_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUserAccessRightsResponse" />
  </wsdl:message>
  <wsdl:message name="IBackLogAPI_GetAllRemovedUserAccessRights_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllRemovedUserAccessRights" />
  </wsdl:message>
  <wsdl:message name="IBackLogAPI_GetAllRemovedUserAccessRights_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllRemovedUserAccessRightsResponse" />
  </wsdl:message>
  <wsdl:message name="IBackLogAPI_GetAllActiveUserAccessRights_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllActiveUserAccessRights" />
  </wsdl:message>
  <wsdl:message name="IBackLogAPI_GetAllActiveUserAccessRights_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllActiveUserAccessRightsResponse" />
  </wsdl:message>
  <wsdl:message name="IBackLogAPI_GetUserAccessRights_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserAccessRights" />
  </wsdl:message>
  <wsdl:message name="IBackLogAPI_GetUserAccessRights_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserAccessRightsResponse" />
  </wsdl:message>
  <wsdl:message name="IBackLogAPI_GetRemovedUserAccessRights_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRemovedUserAccessRights" />
  </wsdl:message>
  <wsdl:message name="IBackLogAPI_GetRemovedUserAccessRights_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRemovedUserAccessRightsResponse" />
  </wsdl:message>
  <wsdl:message name="IBackLogAPI_GetActiveUserAccessRights_InputMessage">
    <wsdl:part name="parameters" element="tns:GetActiveUserAccessRights" />
  </wsdl:message>
  <wsdl:message name="IBackLogAPI_GetActiveUserAccessRights_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetActiveUserAccessRightsResponse" />
  </wsdl:message>
  <wsdl:message name="IBackLogAPI_AddUserAccessRight_InputMessage">
    <wsdl:part name="parameters" element="tns:AddUserAccessRight" />
  </wsdl:message>
  <wsdl:message name="IBackLogAPI_AddUserAccessRight_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddUserAccessRightResponse" />
  </wsdl:message>
  <wsdl:message name="IBackLogAPI_UpdateUserAccessRight_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserAccessRight" />
  </wsdl:message>
  <wsdl:message name="IBackLogAPI_UpdateUserAccessRight_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserAccessRightResponse" />
  </wsdl:message>
  <wsdl:message name="IBackLogAPI_RemoveUserAccessRight_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveUserAccessRight" />
  </wsdl:message>
  <wsdl:message name="IBackLogAPI_RemoveUserAccessRight_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveUserAccessRightResponse" />
  </wsdl:message>
  <wsdl:message name="IBackLogAPI_AddCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:AddCustomer" />
  </wsdl:message>
  <wsdl:message name="IBackLogAPI_AddCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="IBackLogAPI_UpdateCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCustomer" />
  </wsdl:message>
  <wsdl:message name="IBackLogAPI_UpdateCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="IBackLogAPI_RemoveCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveCustomer" />
  </wsdl:message>
  <wsdl:message name="IBackLogAPI_RemoveCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="IBackLogAPI_GetAllCustomers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCustomers" />
  </wsdl:message>
  <wsdl:message name="IBackLogAPI_GetAllCustomers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCustomersResponse" />
  </wsdl:message>
  <wsdl:message name="IBackLogAPI_GetAllActiveCustomers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllActiveCustomers" />
  </wsdl:message>
  <wsdl:message name="IBackLogAPI_GetAllActiveCustomers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllActiveCustomersResponse" />
  </wsdl:message>
  <wsdl:message name="IBackLogAPI_GetAllRemovedCustomers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllRemovedCustomers" />
  </wsdl:message>
  <wsdl:message name="IBackLogAPI_GetAllRemovedCustomers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllRemovedCustomersResponse" />
  </wsdl:message>
  <wsdl:portType name="IBackLogAPI">
    <wsdl:operation name="GetAllGenders">
      <wsdl:input wsam:Action="http://tempuri.org/IBackLogAPI/GetAllGenders" message="tns:IBackLogAPI_GetAllGenders_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IBackLogAPI/GetAllGendersResponse" message="tns:IBackLogAPI_GetAllGenders_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGender">
      <wsdl:input wsam:Action="http://tempuri.org/IBackLogAPI/GetGender" message="tns:IBackLogAPI_GetGender_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IBackLogAPI/GetGenderResponse" message="tns:IBackLogAPI_GetGender_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <wsdl:input wsam:Action="http://tempuri.org/IBackLogAPI/AddUser" message="tns:IBackLogAPI_AddUser_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IBackLogAPI/AddUserResponse" message="tns:IBackLogAPI_AddUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <wsdl:input wsam:Action="http://tempuri.org/IBackLogAPI/UpdateUser" message="tns:IBackLogAPI_UpdateUser_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IBackLogAPI/UpdateUserResponse" message="tns:IBackLogAPI_UpdateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveUser">
      <wsdl:input wsam:Action="http://tempuri.org/IBackLogAPI/RemoveUser" message="tns:IBackLogAPI_RemoveUser_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IBackLogAPI/RemoveUserResponse" message="tns:IBackLogAPI_RemoveUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllUsers">
      <wsdl:input wsam:Action="http://tempuri.org/IBackLogAPI/GetAllUsers" message="tns:IBackLogAPI_GetAllUsers_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IBackLogAPI/GetAllUsersResponse" message="tns:IBackLogAPI_GetAllUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllActiveUsers">
      <wsdl:input wsam:Action="http://tempuri.org/IBackLogAPI/GetAllActiveUsers" message="tns:IBackLogAPI_GetAllActiveUsers_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IBackLogAPI/GetAllActiveUsersResponse" message="tns:IBackLogAPI_GetAllActiveUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllRemovedUsers">
      <wsdl:input wsam:Action="http://tempuri.org/IBackLogAPI/GetAllRemovedUsers" message="tns:IBackLogAPI_GetAllRemovedUsers_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IBackLogAPI/GetAllRemovedUsersResponse" message="tns:IBackLogAPI_GetAllRemovedUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindUserLogin">
      <wsdl:input wsam:Action="http://tempuri.org/IBackLogAPI/FindUserLogin" message="tns:IBackLogAPI_FindUserLogin_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IBackLogAPI/FindUserLoginResponse" message="tns:IBackLogAPI_FindUserLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllUserLogins">
      <wsdl:input wsam:Action="http://tempuri.org/IBackLogAPI/GetAllUserLogins" message="tns:IBackLogAPI_GetAllUserLogins_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IBackLogAPI/GetAllUserLoginsResponse" message="tns:IBackLogAPI_GetAllUserLogins_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllRemovedUserLogins">
      <wsdl:input wsam:Action="http://tempuri.org/IBackLogAPI/GetAllRemovedUserLogins" message="tns:IBackLogAPI_GetAllRemovedUserLogins_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IBackLogAPI/GetAllRemovedUserLoginsResponse" message="tns:IBackLogAPI_GetAllRemovedUserLogins_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllActiveUserLogins">
      <wsdl:input wsam:Action="http://tempuri.org/IBackLogAPI/GetAllActiveUserLogins" message="tns:IBackLogAPI_GetAllActiveUserLogins_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IBackLogAPI/GetAllActiveUserLoginsResponse" message="tns:IBackLogAPI_GetAllActiveUserLogins_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserLogins">
      <wsdl:input wsam:Action="http://tempuri.org/IBackLogAPI/GetUserLogins" message="tns:IBackLogAPI_GetUserLogins_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IBackLogAPI/GetUserLoginsResponse" message="tns:IBackLogAPI_GetUserLogins_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRemovedUserLogins">
      <wsdl:input wsam:Action="http://tempuri.org/IBackLogAPI/GetRemovedUserLogins" message="tns:IBackLogAPI_GetRemovedUserLogins_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IBackLogAPI/GetRemovedUserLoginsResponse" message="tns:IBackLogAPI_GetRemovedUserLogins_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetActiveUserLogins">
      <wsdl:input wsam:Action="http://tempuri.org/IBackLogAPI/GetActiveUserLogins" message="tns:IBackLogAPI_GetActiveUserLogins_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IBackLogAPI/GetActiveUserLoginsResponse" message="tns:IBackLogAPI_GetActiveUserLogins_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddUserLogin">
      <wsdl:input wsam:Action="http://tempuri.org/IBackLogAPI/AddUserLogin" message="tns:IBackLogAPI_AddUserLogin_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IBackLogAPI/AddUserLoginResponse" message="tns:IBackLogAPI_AddUserLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUserLogin">
      <wsdl:input wsam:Action="http://tempuri.org/IBackLogAPI/UpdateUserLogin" message="tns:IBackLogAPI_UpdateUserLogin_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IBackLogAPI/UpdateUserLoginResponse" message="tns:IBackLogAPI_UpdateUserLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveUserLogin">
      <wsdl:input wsam:Action="http://tempuri.org/IBackLogAPI/RemoveUserLogin" message="tns:IBackLogAPI_RemoveUserLogin_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IBackLogAPI/RemoveUserLoginResponse" message="tns:IBackLogAPI_RemoveUserLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllAccessRights">
      <wsdl:input wsam:Action="http://tempuri.org/IBackLogAPI/GetAllAccessRights" message="tns:IBackLogAPI_GetAllAccessRights_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IBackLogAPI/GetAllAccessRightsResponse" message="tns:IBackLogAPI_GetAllAccessRights_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllRemovedAccessRights">
      <wsdl:input wsam:Action="http://tempuri.org/IBackLogAPI/GetAllRemovedAccessRights" message="tns:IBackLogAPI_GetAllRemovedAccessRights_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IBackLogAPI/GetAllRemovedAccessRightsResponse" message="tns:IBackLogAPI_GetAllRemovedAccessRights_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllActiveAccessRights">
      <wsdl:input wsam:Action="http://tempuri.org/IBackLogAPI/GetAllActiveAccessRights" message="tns:IBackLogAPI_GetAllActiveAccessRights_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IBackLogAPI/GetAllActiveAccessRightsResponse" message="tns:IBackLogAPI_GetAllActiveAccessRights_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddAccessRight">
      <wsdl:input wsam:Action="http://tempuri.org/IBackLogAPI/AddAccessRight" message="tns:IBackLogAPI_AddAccessRight_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IBackLogAPI/AddAccessRightResponse" message="tns:IBackLogAPI_AddAccessRight_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateAccessRight">
      <wsdl:input wsam:Action="http://tempuri.org/IBackLogAPI/UpdateAccessRight" message="tns:IBackLogAPI_UpdateAccessRight_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IBackLogAPI/UpdateAccessRightResponse" message="tns:IBackLogAPI_UpdateAccessRight_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveAccessRight">
      <wsdl:input wsam:Action="http://tempuri.org/IBackLogAPI/RemoveAccessRight" message="tns:IBackLogAPI_RemoveAccessRight_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IBackLogAPI/RemoveAccessRightResponse" message="tns:IBackLogAPI_RemoveAccessRight_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllUserAccessRights">
      <wsdl:input wsam:Action="http://tempuri.org/IBackLogAPI/GetAllUserAccessRights" message="tns:IBackLogAPI_GetAllUserAccessRights_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IBackLogAPI/GetAllUserAccessRightsResponse" message="tns:IBackLogAPI_GetAllUserAccessRights_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllRemovedUserAccessRights">
      <wsdl:input wsam:Action="http://tempuri.org/IBackLogAPI/GetAllRemovedUserAccessRights" message="tns:IBackLogAPI_GetAllRemovedUserAccessRights_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IBackLogAPI/GetAllRemovedUserAccessRightsResponse" message="tns:IBackLogAPI_GetAllRemovedUserAccessRights_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllActiveUserAccessRights">
      <wsdl:input wsam:Action="http://tempuri.org/IBackLogAPI/GetAllActiveUserAccessRights" message="tns:IBackLogAPI_GetAllActiveUserAccessRights_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IBackLogAPI/GetAllActiveUserAccessRightsResponse" message="tns:IBackLogAPI_GetAllActiveUserAccessRights_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserAccessRights">
      <wsdl:input wsam:Action="http://tempuri.org/IBackLogAPI/GetUserAccessRights" message="tns:IBackLogAPI_GetUserAccessRights_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IBackLogAPI/GetUserAccessRightsResponse" message="tns:IBackLogAPI_GetUserAccessRights_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRemovedUserAccessRights">
      <wsdl:input wsam:Action="http://tempuri.org/IBackLogAPI/GetRemovedUserAccessRights" message="tns:IBackLogAPI_GetRemovedUserAccessRights_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IBackLogAPI/GetRemovedUserAccessRightsResponse" message="tns:IBackLogAPI_GetRemovedUserAccessRights_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetActiveUserAccessRights">
      <wsdl:input wsam:Action="http://tempuri.org/IBackLogAPI/GetActiveUserAccessRights" message="tns:IBackLogAPI_GetActiveUserAccessRights_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IBackLogAPI/GetActiveUserAccessRightsResponse" message="tns:IBackLogAPI_GetActiveUserAccessRights_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddUserAccessRight">
      <wsdl:input wsam:Action="http://tempuri.org/IBackLogAPI/AddUserAccessRight" message="tns:IBackLogAPI_AddUserAccessRight_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IBackLogAPI/AddUserAccessRightResponse" message="tns:IBackLogAPI_AddUserAccessRight_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUserAccessRight">
      <wsdl:input wsam:Action="http://tempuri.org/IBackLogAPI/UpdateUserAccessRight" message="tns:IBackLogAPI_UpdateUserAccessRight_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IBackLogAPI/UpdateUserAccessRightResponse" message="tns:IBackLogAPI_UpdateUserAccessRight_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveUserAccessRight">
      <wsdl:input wsam:Action="http://tempuri.org/IBackLogAPI/RemoveUserAccessRight" message="tns:IBackLogAPI_RemoveUserAccessRight_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IBackLogAPI/RemoveUserAccessRightResponse" message="tns:IBackLogAPI_RemoveUserAccessRight_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddCustomer">
      <wsdl:input wsam:Action="http://tempuri.org/IBackLogAPI/AddCustomer" message="tns:IBackLogAPI_AddCustomer_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IBackLogAPI/AddCustomerResponse" message="tns:IBackLogAPI_AddCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCustomer">
      <wsdl:input wsam:Action="http://tempuri.org/IBackLogAPI/UpdateCustomer" message="tns:IBackLogAPI_UpdateCustomer_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IBackLogAPI/UpdateCustomerResponse" message="tns:IBackLogAPI_UpdateCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveCustomer">
      <wsdl:input wsam:Action="http://tempuri.org/IBackLogAPI/RemoveCustomer" message="tns:IBackLogAPI_RemoveCustomer_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IBackLogAPI/RemoveCustomerResponse" message="tns:IBackLogAPI_RemoveCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllCustomers">
      <wsdl:input wsam:Action="http://tempuri.org/IBackLogAPI/GetAllCustomers" message="tns:IBackLogAPI_GetAllCustomers_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IBackLogAPI/GetAllCustomersResponse" message="tns:IBackLogAPI_GetAllCustomers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllActiveCustomers">
      <wsdl:input wsam:Action="http://tempuri.org/IBackLogAPI/GetAllActiveCustomers" message="tns:IBackLogAPI_GetAllActiveCustomers_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IBackLogAPI/GetAllActiveCustomersResponse" message="tns:IBackLogAPI_GetAllActiveCustomers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllRemovedCustomers">
      <wsdl:input wsam:Action="http://tempuri.org/IBackLogAPI/GetAllRemovedCustomers" message="tns:IBackLogAPI_GetAllRemovedCustomers_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IBackLogAPI/GetAllRemovedCustomersResponse" message="tns:IBackLogAPI_GetAllRemovedCustomers_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBackLogAPI" type="tns:IBackLogAPI">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllGenders">
      <soap:operation soapAction="http://tempuri.org/IBackLogAPI/GetAllGenders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGender">
      <soap:operation soapAction="http://tempuri.org/IBackLogAPI/GetGender" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <soap:operation soapAction="http://tempuri.org/IBackLogAPI/AddUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <soap:operation soapAction="http://tempuri.org/IBackLogAPI/UpdateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveUser">
      <soap:operation soapAction="http://tempuri.org/IBackLogAPI/RemoveUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllUsers">
      <soap:operation soapAction="http://tempuri.org/IBackLogAPI/GetAllUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllActiveUsers">
      <soap:operation soapAction="http://tempuri.org/IBackLogAPI/GetAllActiveUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllRemovedUsers">
      <soap:operation soapAction="http://tempuri.org/IBackLogAPI/GetAllRemovedUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindUserLogin">
      <soap:operation soapAction="http://tempuri.org/IBackLogAPI/FindUserLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllUserLogins">
      <soap:operation soapAction="http://tempuri.org/IBackLogAPI/GetAllUserLogins" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllRemovedUserLogins">
      <soap:operation soapAction="http://tempuri.org/IBackLogAPI/GetAllRemovedUserLogins" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllActiveUserLogins">
      <soap:operation soapAction="http://tempuri.org/IBackLogAPI/GetAllActiveUserLogins" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserLogins">
      <soap:operation soapAction="http://tempuri.org/IBackLogAPI/GetUserLogins" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRemovedUserLogins">
      <soap:operation soapAction="http://tempuri.org/IBackLogAPI/GetRemovedUserLogins" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetActiveUserLogins">
      <soap:operation soapAction="http://tempuri.org/IBackLogAPI/GetActiveUserLogins" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUserLogin">
      <soap:operation soapAction="http://tempuri.org/IBackLogAPI/AddUserLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUserLogin">
      <soap:operation soapAction="http://tempuri.org/IBackLogAPI/UpdateUserLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveUserLogin">
      <soap:operation soapAction="http://tempuri.org/IBackLogAPI/RemoveUserLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllAccessRights">
      <soap:operation soapAction="http://tempuri.org/IBackLogAPI/GetAllAccessRights" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllRemovedAccessRights">
      <soap:operation soapAction="http://tempuri.org/IBackLogAPI/GetAllRemovedAccessRights" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllActiveAccessRights">
      <soap:operation soapAction="http://tempuri.org/IBackLogAPI/GetAllActiveAccessRights" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAccessRight">
      <soap:operation soapAction="http://tempuri.org/IBackLogAPI/AddAccessRight" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAccessRight">
      <soap:operation soapAction="http://tempuri.org/IBackLogAPI/UpdateAccessRight" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveAccessRight">
      <soap:operation soapAction="http://tempuri.org/IBackLogAPI/RemoveAccessRight" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllUserAccessRights">
      <soap:operation soapAction="http://tempuri.org/IBackLogAPI/GetAllUserAccessRights" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllRemovedUserAccessRights">
      <soap:operation soapAction="http://tempuri.org/IBackLogAPI/GetAllRemovedUserAccessRights" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllActiveUserAccessRights">
      <soap:operation soapAction="http://tempuri.org/IBackLogAPI/GetAllActiveUserAccessRights" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserAccessRights">
      <soap:operation soapAction="http://tempuri.org/IBackLogAPI/GetUserAccessRights" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRemovedUserAccessRights">
      <soap:operation soapAction="http://tempuri.org/IBackLogAPI/GetRemovedUserAccessRights" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetActiveUserAccessRights">
      <soap:operation soapAction="http://tempuri.org/IBackLogAPI/GetActiveUserAccessRights" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUserAccessRight">
      <soap:operation soapAction="http://tempuri.org/IBackLogAPI/AddUserAccessRight" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUserAccessRight">
      <soap:operation soapAction="http://tempuri.org/IBackLogAPI/UpdateUserAccessRight" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveUserAccessRight">
      <soap:operation soapAction="http://tempuri.org/IBackLogAPI/RemoveUserAccessRight" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCustomer">
      <soap:operation soapAction="http://tempuri.org/IBackLogAPI/AddCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCustomer">
      <soap:operation soapAction="http://tempuri.org/IBackLogAPI/UpdateCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveCustomer">
      <soap:operation soapAction="http://tempuri.org/IBackLogAPI/RemoveCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllCustomers">
      <soap:operation soapAction="http://tempuri.org/IBackLogAPI/GetAllCustomers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllActiveCustomers">
      <soap:operation soapAction="http://tempuri.org/IBackLogAPI/GetAllActiveCustomers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllRemovedCustomers">
      <soap:operation soapAction="http://tempuri.org/IBackLogAPI/GetAllRemovedCustomers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BacklogAPI">
    <wsdl:port name="BasicHttpBinding_IBackLogAPI" binding="tns:BasicHttpBinding_IBackLogAPI">
      <soap:address location="http://localhost:8080/Backlog" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>