ProductBacklog/WpfDesktopClient/Service References/BacklogApi/BacklogAPI.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BacklogAPI" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/Backlog?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/Backlog?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8080/Backlog?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfApi.Users" />
      <xsd:import schemaLocation="http://localhost:8080/Backlog?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WcfApi" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBackLogAPI_GetAllUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsers" />
  </wsdl:message>
  <wsdl:message name="IBackLogAPI_GetAllUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IBackLogAPI_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IBackLogAPI_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IBackLogAPI_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IBackLogAPI_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:portType name="IBackLogAPI">
    <wsdl:operation name="GetAllUsers">
      <wsdl:input wsam:Action="http://tempuri.org/IBackLogAPI/GetAllUsers" message="tns:IBackLogAPI_GetAllUsers_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IBackLogAPI/GetAllUsersResponse" message="tns:IBackLogAPI_GetAllUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <wsdl:input wsam:Action="http://tempuri.org/IBackLogAPI/GetData" message="tns:IBackLogAPI_GetData_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IBackLogAPI/GetDataResponse" message="tns:IBackLogAPI_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsam:Action="http://tempuri.org/IBackLogAPI/GetDataUsingDataContract" message="tns:IBackLogAPI_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IBackLogAPI/GetDataUsingDataContractResponse" message="tns:IBackLogAPI_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBackLogAPI" type="tns:IBackLogAPI">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllUsers">
      <soap:operation soapAction="http://tempuri.org/IBackLogAPI/GetAllUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IBackLogAPI/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IBackLogAPI/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BacklogAPI">
    <wsdl:port name="BasicHttpBinding_IBackLogAPI" binding="tns:BasicHttpBinding_IBackLogAPI">
      <soap:address location="http://localhost:8080/Backlog" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>