ProductBacklog/WpfDesktopClient/Service References/BacklogApi/WcfApi.WorkStatuses.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/WcfApi.WorkStatuses" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfApi.WorkStatuses" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfWorkStatus">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WorkStatus" nillable="true" type="tns:WorkStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWorkStatus" nillable="true" type="tns:ArrayOfWorkStatus" />
  <xs:complexType name="WorkStatus">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WorkStatusId" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WorkStatus" nillable="true" type="tns:WorkStatus" />
</xs:schema>