ProductBacklog/WpfDesktopClient/Service References/BacklogApi/WcfApi.SoftwareTypes.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/WcfApi.SoftwareTypes" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfApi.SoftwareTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfSoftwareType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SoftwareType" nillable="true" type="tns:SoftwareType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSoftwareType" nillable="true" type="tns:ArrayOfSoftwareType" />
  <xs:complexType name="SoftwareType">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SoftwareTypeId" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SoftwareType" nillable="true" type="tns:SoftwareType" />
</xs:schema>