ProductBacklog/WpfDesktopClient/Service References/BacklogApi/WcfApi.UserLogins.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/WcfApi.UserLogins" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfApi.UserLogins" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/WcfApi.Users" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="UserLogin">
    <xs:sequence>
      <xs:element minOccurs="0" name="PasswordHash" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfApi.Users" minOccurs="0" name="User" nillable="true" type="q1:User" />
      <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserLoginId" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserLogin" nillable="true" type="tns:UserLogin" />
  <xs:complexType name="ArrayOfUserLogin">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserLogin" nillable="true" type="tns:UserLogin" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserLogin" nillable="true" type="tns:ArrayOfUserLogin" />
  <xs:complexType name="ArrayOfRemovedUserLogin">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RemovedUserLogin" nillable="true" type="tns:RemovedUserLogin" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRemovedUserLogin" nillable="true" type="tns:ArrayOfRemovedUserLogin" />
  <xs:complexType name="RemovedUserLogin">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateRemoved" type="xs:dateTime" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfApi.Users" minOccurs="0" name="RemovedByUser" nillable="true" type="q2:User" />
      <xs:element minOccurs="0" name="RemovedUserLoginId" type="ser:guid" />
      <xs:element minOccurs="0" name="UserLogin" nillable="true" type="tns:UserLogin" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RemovedUserLogin" nillable="true" type="tns:RemovedUserLogin" />
</xs:schema>