ProductBacklog/WpfDesktopClient/Service References/BacklogApi/WcfApi.WorkRequests.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/WcfApi.WorkRequests" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfApi.WorkRequests" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/WcfApi.Users" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/WcfApi.Customers" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/WcfApi.SoftwareTypes" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/WcfApi.WorkStatuses" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/WcfApi.WorkTypes" />
  <xs:complexType name="ArrayOfWorkRequest">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WorkRequest" nillable="true" type="tns:WorkRequest" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWorkRequest" nillable="true" type="tns:ArrayOfWorkRequest" />
  <xs:complexType name="WorkRequest">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfApi.Users" minOccurs="0" name="CreatedByUser" nillable="true" type="q1:User" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfApi.Customers" minOccurs="0" name="Customer" nillable="true" type="q2:Customer" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RequestDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="RequestNumber" type="xs:long" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfApi.SoftwareTypes" minOccurs="0" name="SoftwareType" nillable="true" type="q3:SoftwareType" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WcfApi.Users" minOccurs="0" name="UsersAssigned" nillable="true" type="q4:ArrayOfUser" />
      <xs:element minOccurs="0" name="WorkRequestId" type="ser:guid" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WcfApi.WorkStatuses" minOccurs="0" name="WorkStatus" nillable="true" type="q5:WorkStatus" />
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WcfApi.WorkTypes" minOccurs="0" name="WorkType" nillable="true" type="q6:WorkType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WorkRequest" nillable="true" type="tns:WorkRequest" />
  <xs:complexType name="ArrayOfRemovedWorkRequest">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RemovedWorkRequest" nillable="true" type="tns:RemovedWorkRequest" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRemovedWorkRequest" nillable="true" type="tns:ArrayOfRemovedWorkRequest" />
  <xs:complexType name="RemovedWorkRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateRemoved" type="xs:dateTime" />
      <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WcfApi.Users" minOccurs="0" name="RemovedByUser" nillable="true" type="q7:User" />
      <xs:element minOccurs="0" name="RemovedWorkRequestId" type="ser:guid" />
      <xs:element minOccurs="0" name="WorkRequest" nillable="true" type="tns:WorkRequest" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RemovedWorkRequest" nillable="true" type="tns:RemovedWorkRequest" />
</xs:schema>