ProductBacklog/WpfDesktopClient/Service References/BacklogApi/WcfApi.Customers.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/WcfApi.Customers" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfApi.Customers" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/WcfApi.Users" />
  <xs:complexType name="Customer">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustomerId" type="ser:guid" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Customer" nillable="true" type="tns:Customer" />
  <xs:complexType name="RemovedCustomer">
    <xs:sequence>
      <xs:element minOccurs="0" name="Customer" nillable="true" type="tns:Customer" />
      <xs:element minOccurs="0" name="DateRemoved" type="xs:dateTime" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfApi.Users" minOccurs="0" name="RemovedByUser" nillable="true" type="q1:User" />
      <xs:element minOccurs="0" name="RemovedCustomerId" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RemovedCustomer" nillable="true" type="tns:RemovedCustomer" />
  <xs:complexType name="ArrayOfCustomer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Customer" nillable="true" type="tns:Customer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCustomer" nillable="true" type="tns:ArrayOfCustomer" />
  <xs:complexType name="ArrayOfRemovedCustomer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RemovedCustomer" nillable="true" type="tns:RemovedCustomer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRemovedCustomer" nillable="true" type="tns:ArrayOfRemovedCustomer" />
</xs:schema>